// ====================== Footoer =======================
footer{
    color: rgba($white-color, .80);
    background-color: #191919;
    .footer-top{
        h5{
            text-transform: uppercase;
        }
    }
    .form-control{
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom:1px solid $primary-color;
        height: 45px; 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
       
    }
    p{
        color: currentColor;
    }
    form{
        position: relative;
        .btn{
            font-size: 22px;
            background-color: transparent;
            color: $primary-color;
            border-radius: $border-radius;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            padding-left: 10px;
            padding-right: 10px;
            position: absolute;
            right: 4px;
            top: -3px;
            transition: all .3s;
            &:hover{
                color: $white-color;
            }
        }
    }
    .copyright-text{
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;
       ul.footer-menu{
        li{
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 0;
            a{
                font-size: 15px;
            }
        }
       }
        p{
            margin: 0;
            font-size: 15px;
            line-height: 25px;
        }
    }
    .copyright-wrapper{
        background-color: #121212;
        padding: 30px 0px;
    }
}
.footer-bg {
    background-color:$primary-color;
}
.footer-logo{
    max-width: 300px;
}
footer.overlay:before{
    opacity: .95;
}
.footer-bg{
    background-image: url(../assets/images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
// ====================== Footer Menu ===================
ul.footer-menu{
    li{
        list-style: none;
        margin-bottom: 15px;
        a{
            color: currentColor;
            transition: all .3s;
            &:hover{
                color: $primary-color;
            }
        }
    }
    li.active{
        a{
            color: $primary-color;
        }
    }
    span{
        i{
            margin-right: 10px;
        }
    }
}
