// ====================== Default Elements Style =======================
body{
	font-family: $secondary-font;
	color: $paragraph-color
}
h1{
	@include heading-style(60px,500,1.3);
}
h2{
	@include heading-style(50px,500,1.3);
}
h3{
	@include heading-style(28px,500,1.3);
}
h4{
	@include heading-style(24px,500,1.4);
}
h5{
	@include heading-style(22px,500,1.3);
}
h6{
	@include heading-style(16px,500,1.3);
}
p{
	@include text-style(16px);
	margin-bottom: 30px;
}
ol,ul,h1,h2,h3,h4,h5,h6,figure{
	margin: 0px;
	padding: 0px;
}
.show-md{
    display: none!important;
}
.navbar{
	padding: 0;
}
.sticky-pt{
	padding-top: 80px;
}
.sec-ptb{
	padding-top: 100px;
	padding-bottom: 100px;
}
.sec-pt{
	padding-top: 100px;
}
.sec-pb{
	padding-bottom: 100px;
}
.m-btm-ng{
	margin-bottom: -90px;
}
.primary-color{
	color: $primary-color;
}
.black-color{
	color: $heading-color;
}
.gray-color{
	color: $paragraph-color;
}
.secondary-color{
	color: $primary-color;
}
.primary-bg{
	background-color: $primary-color;
}
.secondary-bg{
	background-color: $secondary-color;
}
.bg-gray{
	background-color: $gray-color;
}
.bg-gray-2{
	background-color: $gray-color;
}
.border{
	border: 1px solid $border-color;
}
.header-shadow{
	box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}
.checked {
	color: orange;
  }
.ptn-bg{
	background-image: url(../assets/images/pattern.png);
}
.overlay{
	position: relative;
	z-index: 0;
	&:before{
		content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $secondary-color;
		opacity: .80;
		z-index: -1;
	}
	.sec-heading{
		.heading{
			h2{
				color: #fff;
			}
		}
		.sub-heading{
			p{
				color: #fff;
			}
		}
	}
}
.sep-line {
    width: 100%;
    height: 1px;
    background-color: $border-color;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: $primary-color;
		}
}
input:focus {
	border-color: $primary-color !important;
	box-shadow: none;
	outline: none;
}
.form-control:focus {
	border-color: $primary-color;
	box-shadow: 0 0 8px rgba($primary-color, 0.5);
	background-color: transparent;
	color: $paragraph-color;
}
