// ====================== Default Veriables =======================
$primary-color:#fca919;
$secondary-color:#23252a;
$heading-color:#23252a;
$gray-color: #f5f5f5;
$gray-color-2:#e6e6e6;
$white-color:#ffffff;
$black-color:#000;
$background-transparent:transparent;
$paragraph-color:#797b81;
$border-color:#f0f0f0;
$primary-font: 'Barlow Condensed', sans-serif;
$secondary-font: 'Rubik', sans-serif;
$line-height:1.2;
$border-radius: 5px;
$border-radius-lg: 10px;
$box-shadow:0 3px 18px 0px rgba(0, 0, 0, 0.10);
$btn-shadow:rgba(0, 0, 30,.15) 0px 15px 25px 0px;
